.wrapper{
    width: 750px;
    max-width: 100%;
    margin: 100px auto 0;
    padding: 50px;
    border-radius: 5px;
}
.wrapper1 .header1 ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-top: 50px;
    padding-bottom: -100px;
}
.wrapper1 .header1 ul li{
    position: relative;
    margin-right: 50px;
}
.wrapper1 .header1{
    display: flex;
    justify-content: center;
    /* margin-bottom: 35px; */
}
.wrapper1 .header1 ul li:last-child{
    margin-right: 0;
}
.wrapper1 .header1 ul li:before{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
    left: 55px;
    width: 100%;
    height: 2px;
    background: grey;
}
.wrapper1 .header1 ul li:last-child::before{
    display: none;
}
.wrapper1 .header1 ul li div{
    padding: 5px;
    border-radius: 50%;
}
.wrapper1 .header1 ul li p{
    width: 50px;
    height: 50px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}
.wrapper1 .header1 ul li.active::before,
.wrapper1 .header1 ul li.active p{
    background:  #8A2BE2;
}
.wrapper1 .form_wrap{
    margin-bottom: 35px;
}
.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.modal_wrapper .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.2s ease;
}
.modal_wrapper .success_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800px);
    transition: 0.5s ease;
    background: white;
    border-radius: 5px;
    display: flex;
    padding: 30px;
    align-items: center;
}
.modal_wrapper .success_wrap .modal_icon{
    margin-right:20px ;
    width: 50px;
    height: 50px;
    background: darkgreen;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
}
.modal_wrapper.active{
    visibility: visible;
}
.modal_wrapper.active .shadow{
    opacity: 1;
}
.modal_wrapper.active .success_wrap{
    transform: translate(-50%,-50%);
}

.btext{
    padding-top: 10rem;
}
.bim:hover{
     /* width: 100%; Make the image width fill the container */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    transform: scale(.9); /* Scale the image up by 1.1 */
    transition: transform 0.2s ease-in;
}
.full{
    height: 100vh;
}
.tel{
    text-decoration: none;
}
.tel:hover{
    cursor: pointer;
    text-decoration: underline;
}
.links li a{
    text-decoration: none;
    color: black;
    align-items: flex-start;
}
.links li a:hover{
    text-decoration: underline;
}
.links li{
    list-style: none;
}
@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.scroll-indicator {
    position: absolute;
    bottom: 310px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

  .shape {
    position: absolute;
    opacity: .5;
  }

  .rectangle {
    width: 150px;
    height: 100px;
    /* background-color: #3498db; */
  }

  .circle {
    width: 100px;
    height: 100px;
    /* background-color: #e74c3c; */
    border-radius: 50%;
  }

  .square {
    width: 100px;
    height: 100px;
    /* background-color: #2ecc71; */
  }
  body{
    overflow-x: hidden;
  }